html
  include head
  body
    div(class='mt-5')
      div(class='pl-3')
        a(href='/') <<
      div(style='text-align: center;')
        h5=title
      table(class='table mt-3')
        each chapter in chapters
          tr(style='text-align: left;')
            td(style='width: 70%')
              if chapter.suffix
                a(href='/character/' + chapter.name)=chapter.name
              else
                span=chapter.name
            td
              if chapter.url
                a(href=chapter.url)=chapter.suffix
              else
                span=chapter.suffix
            td(style='text-align: right;')=chapter.page
