html
  include head
  body
    div(style='text-align: center; margin: 2em .5em;')
      h2=title.toUpperCase()
      table(class='table')
        each chapter in chapters
          tr(style='text-align: left;')
            td
              if chapter.suffix
                a(href='/character/' + chapter.name)=chapter.name
              else
                span=chapter.name
            td=chapter.suffix
            td(style='text-align: right;')=chapter.page
