html
  head
    title ASOIAF Index
    link(
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous')
  body
    div(style="text-align: center; margin: 2em")
      for val, key in chapters
        h2
          a(href='/'+key)=key.toUpperCase()
        table(class='table')
          each chapter in val
            tr(style='text-align: left;')
              td(style='width: 100px')=chapter.name
              td=chapter.suffix
              td(style='text-align: right;')=chapter.page