html
  include head
  body(style='background-color: #22272e; color: #d8d4cf')
    div(style='max-width: 980px; margin: auto')
      h2(class='sticky-top py-4 pl-2' style='background-color: #22272e;')=header
      table(class='table table-dark' style='font-size: 15px')
        tr
          td(class='w-25') House
          td=house
        tr 
          td Chapters
          td=total
        tr 
          td Rank
          td=rank
      div(class='mt-5 text-center')
        for val, key in chapters
          h5
            a(href='/title/'+val[0].slug)=key
          table(class='table table-dark mb-5 mt-3' style='font-size: 15px')
            each ch in val
              tr
                td(class='w-25 text-nowrap')=ch.pov
                td=ch.suffix
                td(class='font-italic text-muted d-none d-sm-block' style='font-size: 14px')=ch.headline
                td(class='text-muted text-right' style='font-size: 14px;')
                  a(href='/location/' + ch.location)=ch.location
                td(class='text-right' style='width: 100px')
                  span=ch.page
    include footer
