html
  head
    title ASOIAF Index
    link(
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous')
  body
    div(style="text-align: center; margin: 2em")
    table(class='table' style='text-align:center')
      each character in characters
        tr
          td(style='text-align:left')
            a(href='/character/'+character.name)=character.name
          td=character.name