html
  include head
  body(style='background-color: #22272e; color: #d8d4cf')
    div(class='mt-5' style='max-width: 980px; margin: auto')
      div(class='pl-1')
        h1(class='pl-2 mb-4')=header
        table(class='table table-dark')
          tr
            td(class='w-50') House
            td=house
          tr 
            td Total Chapters
            td=total
          tr 
            td Rank
            td=rank
      div(class='mt-5 text-center')
        for val, key in chapters
          h5
            a(href='/title/'+val[0].slug)=key
          table(class='table table-dark mb-5 mt-3' style='font-size: 15px')
            each ch in val
              tr
                td(class='w-25')=ch.pov
                td=ch.suffix
                td(class='font-italic text-muted d-none d-sm-block' style='font-size: 14px')=ch.headline
                td(class='font-italic text-muted text-right' style='font-size: 14px')=ch.location
                td(class='text-right')
                  span=ch.page
