html
  include head
  body
    div(class='mt-5 pl-1' style='max-width: 1080px; margin: auto')
      div(class='pl-1')
        h1(class='pl-2 mb-4' )=header
        table(class='table')
          tr
            td(style='width: 150px') House
            td
              a(href='/'+house+'/characters')=house 
          tr 
            td Total Chapters
            td=total
          tr 
            td Rank
            td=rank
      div(class='mt-5' style='text-align: center;')
        for val, key in chapters
          h5(style='text-align: center')
            a(href='/title/'+val[0].slug)=key
          table(class='table mb-5 mt-3')
            each ch in val
              tr(style='text-align: left;')
                td(style='width: 50%')=ch.pov
                td=ch.suffix
                td(style='text-align: right;')
                  if ch.url
                    a(href=ch.url target='_blank' )=ch.page
                  else
                    span=ch.page
