html
  head
    title ASOIAF Index
    link(
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous')
  body
    div(style="text-align: center")
      h1 A Song of Ice and Fire
      table(class='table' style='text-align:center')
        each title in titles
          tr
            td(style='text-align:left')=title.slug.toUpperCase()
            td(style='text-align:right')
              a(href='/'+title.slug)=title.title