html
  include head
  body(style='background-color: #22272e;')
    div(style='max-width: 980px; margin: auto')
      div(class='sticky-top pt-4 pb-2 d-block d-sm-flex' style='background-color: #22272e; height: fit-content;')
        h2(style='color: #fff; margin: auto;' class='w-50 pl-2')=header
        table(class='table table-borderless text-left mb-1 fs-6 text-light')
          tr
            td(class='w-25') Continent
            td=continent
          tr 
            td Chapters
            td=total
          tr 
            td Appearance
            td
              each chr in appearance
                span(class='mr-2 mb-2 d-inline-block')
                  a(href='/character/' + chr.character)=chr.character 
      div(class='mt-5 text-center')
        for val, key in chapters
          h5
            a(href='/title/'+val[0].slug)=key
          table(class='table table-dark mb-5 mt-3 fs-6')
            each chp in val
              tr
                td(class='w-25')=chp.pov
                td=chp.suffix
                td(class='font-italic text-muted' style='font-size: 14px')=chp.headline
                td(class='text-right')
                  span=chp.page
    include footer
