div(class="modal d-block" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document" style='max-width: 600px; top: 100px;')
    div(class="modal-content")
      div(class="modal-header")
        h3(class='modal-title')
          a(style='color: inherit' href='/character/'+details.character)=details.pov
        h3(class='modal-title ml-2')=details.suffix
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")
            a(href='/title/'+slug) &times;
      div(class="modal-body")
        p=details.headline
        div(class='text-right')
        if details.img
          img(src=details.img alt="test" class='w-100')
        div
          a(style='color: inherit' href='/location/'+details.location)=details.location+', '+details.continent
      div(class="modal-footer justify-content-between")
        span=title
        span=details.page
