div(class="modal d-block" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document" style='max-width: 600px; top: 10%')
    div(class="modal-content")
      div(class="modal-header")
        h3(class='modal-title')
          if details.character
            a(style='color: inherit' href='/character/'+details.character)=details.pov
          else
            span=details.pov
        if (details.suffix)
          h3(class='modal-title ml-2')=details.suffix
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            a(href='/title/'+slug) &times;
      if details.mentions
        div(class="modal-body d-flex")
          span(class='mr-2')=details.mentions
      div(class="modal-body")
        p=details.headline
        div(class='text-right')
        if details.img
          img(src=details.img alt="test" class='w-100')
        div(class='d-flex justify-content-between mt-4')
          a(style='color: inherit' href='/title/'+details.title+'/'+previous) <<
          a(style='color: inherit' href='/location/'+details.location)=details.location+' • '+details.continent
          a(style='color: inherit' href='/title/'+details.title+'/'+next) >>
      div(class="modal-footer justify-content-between")
        span='Ch.' + details.chapter
        a(style='color: inherit' class='text-uppercase' href='/')=details.title
        span=details.page
