html
  include head
  body(style='background-color: #22272e; color: #adbac7')
    div(style='max-width: 980px; margin: auto')
      if modalOpen 
        include modal
      div(class='sticky-top py-3 pl-2 text-light' style='background-color: #22272e; height: fit-content')
        h3(class='text-center')=title
      table(class='table table-hover table-dark' style='font-size: 15px; margin-bottom: 4em; color: #adbac7')
        each ch in chapters
          tr
            td(class='w-25 align-middle')
              if ch.character
                a=ch.pov
              else
                span=ch.pov
            td(class='align-middle')=ch.suffix
            td(class='font-italic' style='font-size: 14px')=ch.headline
            td(class='text-right align-middle')
              a(href='/title/'+slug+'/'+ch.page)=ch.page
    include footer
