html
  include head
  body(style='background-color: #22272e; color: #adbac7')
    div(style='max-width: 980px; margin: auto')
      div(class='sticky-top pt-4 pb-2 pl-2' style='background-color: #22272e')
        a(class='pl-3' href='/') <<
        h4(class='text-center sticky-top')=title
      table(class='table table-dark mt-3' style='font-size: 15px')
        each ch in chapters
          tr
            td(class='w-25')
              if ch.character
                a(href='/character/' + ch.character)=ch.pov
              else
                span=ch.pov
            td=ch.suffix
            td(class='font-italic text-muted d-none d-sm-block' style='font-size: 14px')=ch.headline
            td(class='text-muted text-right' style='font-size: 14px')
              a(href='/location/' + ch.location)=ch.location
            td(class='text-right')
              span=ch.page
    include footer
