html
  include head
  body
    div(class='mt-5' style='max-width: 1080px; margin: auto')
      div(class='pl-3')
        a(href='/') <<
      div(style='text-align: center;')
        h5=title
      table(class='table mt-3')
        each ch in chapters
          tr(style='text-align: left;')
            td
              if ch.pov.indexOf('logue') > -1
                span=ch.pov
              else
                a(href='/character/' + ch.character)=ch.pov
            td=ch.suffix
            td(style='font-size: 12px;')=ch.headline
            td(style='text-align: right')
              if ch.url
                a(href=ch.url target='_blank' )=ch.page
              else
                span=ch.page
