html
  head
    include head
  body
    div(style='text-align: center; width: 100%;' class='mt-5')
      h1(class='page-header mb-5') Index of Ice and Fire
      div(class='mt-5' style='text-align: center;')
        for title, k in titles
          h5(style='text-align: center')
            a(href='/title/'+k)=key
          table(class='table mt-3')
            tr(style='text-align: left;')
              td(style='width: 45%')
                a(href='/title/'+title[0].slug)=k
              td
                each ch in title
                  p
                    a(href='/character/'+ch.character)=ch.character
                    sup=ch.count
              td(style='text-align: right')=title[0].slug.toUpperCase()