html
  include head
  body(style='background-color: rgb(17, 18, 19)')
    div(class='mt-5' style='max-width: 980px; margin: auto;color: #d8d4cf')
      div(class='pl-3')
        a(href='/') <<
      div(style='text-align: center;')
        h5=title
      table(class='table mt-3' style='color: #d8d4cf')
        each ch in chapters
          tr(style='text-align: left')
            td(style='width: 200px')
              if ch.pov.indexOf('logue') > -1
                span=ch.pov
              else
                a(href='/character/' + ch.character)=ch.pov
            td=ch.suffix
            td(style='font-size: 12px;')=ch.headline
            td(style='text-align: right')
              span=ch.page
